.Ingressos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 70px 0px;
    margin-bottom: -30px;

    text-align: center;

    & h3{
        font-size: 36px;
        width: 80%;
        max-width: 570px;
    }

    & h5{
        font-size: 18px;
        width: 70%;
        max-width: 570px;
    }
}